
<px-card class="pull-left upload-header-s1" style="width:1000px;">
	<div id="upload" class="border-s3 pull-left w100p">
	<paper-input label="Price LIst Name:" id="aadd" class="w250 mb20"></paper-input>
	<div class="pull-left w100p mb20 file-center">
		<lable class="pull-left">Upload File:</lable>
		<input type="file" class="pull-left ml10" />
		<lable class="pull-right">Replace</lable>
		<input type="checkbox" class="pull-right" />
	</div>
	<div class="pull-left w100p">

		<paper-button class="pull-right custom green ml10 mt20" raised>Submit</paper-button>
		<paper-button class="pull-right green ml10 mt20" raised>Reset</paper-button>
	</div>
	</div>
</px-card>

<px-card class="pull-left" style="width:1000px;">
	
<div class="pull-left w100p border-s1">
	<div class="pull-left w100p">

<label class="pull-left mr10 mt25">Region:</label>
<select class="style-scope aha-table mt20">
	<option class="style-scope aha-table">Europe</option>
	<option class="style-scope aha-table">North America</option>
	<option class="style-scope aha-table">Latin America</option>
	<option class="style-scope aha-table">Middle East</option>
	<option class="style-scope aha-table">Asia</option>
	<template is="dom-repeat" as="n" class="style-scope aha-table"></template>
</select>
	</div>

	<iron-icon class="pull-right search-style-s3 mr10 cursor-pointer" icon="search" ng-click="filterPartTable(part)"></iron-icon>
	
	<paper-input-container class="pull-right ml10" id="aadd">
  <label>Order no:</label>
  <input is="iron-input" ng-model="part.order"></input>
</paper-input-container>

	<paper-input label="Product no:" class="pull-right ml10" id="aadd" ng-model="part.product"></paper-input>
	<paper-input label="Customer no:" class="pull-right ml10" id="aadd" ng-model="part.customer"></paper-input>
	<paper-input-container class="pull-right ml10" id="aadd">
  <label>Price List Name:</label>
  <input is="iron-input" ng-model="part.priceList"></input>
</paper-input-container>
	
</div>

<div class="pull-left w100p border-s2">
<p ng-show="warn.norecords" class="ml10 fnt-red">No records found!</p>
	<px-data-table table-data="{{data}}" filterable searchable selectable striped table-columns='true'>
	<px-data-table-column name="Part Number1"></px-data-table-column>
	<px-data-table-column name="Description1"></px-data-table-column>
	<px-data-table-column name="Price List Name1"></px-data-table-column>
	<px-data-table-column name="List Price1"></px-data-table-column>
	<px-data-table-column name="Cost Source1"></px-data-table-column>
	<px-data-table-column name="Cost1"></px-data-table-column>
	</px-data-table>
</div>


</px-card>


